{% extends 'base.html' %}

{% block title %}Amazon | Online Shopping{% endblock %}

{% block body %}

<!-- navhero -->

<div class="nav-hero">
    <div class="head-img">

        <div class="arrows">
            <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
            <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
        </div>
    </div>
</div>

<!-- navhero end -->

<!-- shop section -->

<div class="shop-section">
    <div class="shop-box shop-box1">        
        <div class="shop-box-content">
            <h2>Appliances for home | Upto 55% off</h2>
            <div class="shop-grid-container">
                <div class="shop-appliance">
                    <img src="/static/img/shop1.jpg" alt="Air Conditioners">
                    <p>Air Conditioners</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop2.jpg" alt="Refrigerators">
                    <p>Refrigerators</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop3.jpg" alt="Microwaves">
                    <p>Microwaves</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop4.jpg" alt="Washing Machines">
                    <p>Washing Machines</p>
                </div>
            </div>
            <p class="shop-more">See more</p>
        </div>
    </div>

    <div class="shop-box shop-box2">        
        <div class="shop-box-content">
            <h2>Revamp your home in style</h2>
            <div class="shop-grid-container">
                <div class="shop-appliance">
                    <img src="/static/img/shop5.jpg" alt="Cushion covers, bedsheets & more">
                    <p>Cushion covers, bedsheets & more</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop6.jpg" alt="Figures, vases and more">
                    <p>Figures, vases and more</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop7.jpg" alt="Home storage">
                    <p>Home storage</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop8.jpg" alt="Lighting solutions">
                    <p>Lighting solutions</p>
                </div>
            </div>
            <p class="shop-more">Explore all</p>
        </div>
    </div>

    <div class="shop-box shop-box3">        
        <div class="shop-box-content">
            <h2>Starting ₹99 | Amazon Brands & more</h2>
            <div class="shop-grid-container">
                <div class="shop-appliance">
                    <img src="/static/img/shop9.jpg" alt="Starting ₹99 | Home decor">
                    <p>Starting ₹99 | Home decor</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop10.jpg" alt="Up to 60% off | Storage & racks">
                    <p>Up to 60% off | Storage & racks</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop11.jpg" alt="Starting ₹99 | Toys & games">
                    <p>Starting ₹99 | Toys & games</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop12.jpeg" alt="Up to 60% off | Jackets, dresses & more">
                    <p>Up to 60% off | Jackets, dresses & more</p>
                </div>
            </div>
            <p class="shop-more">Shop now</p>
        </div>
    </div>

    <div class="shop-box shop-box4">        
        <div class="shop-box-content">
            <h2>Automotive essentials | Up to 60% off</h2>
            <div class="shop-grid-container">
                <div class="shop-appliance">
                    <img src="/static/img/shop13.jpg" alt="Cleaning accessories">
                    <p>Cleaning accessories</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop14.jpg" alt="Tyres & rim care">
                    <p>Tyres & rim care</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop15.jpg" alt="Helmets">
                    <p>Helmets</p>
                </div>
                <div class="shop-appliance">
                    <img src="/static/img/shop16.jpg" alt="Vacuum Cleaner">
                    <p>Vacuum Cleaner</p>
                </div>
            </div>
            <p class="shop-more">See more</p>
        </div>
    </div>    
</div>

<!-- shop end -->

<!-- kitchen -->

<div class="kitchenfinds">
    <div class="kitchen-container">
        <h2>Min. 50% off | Unique kitchen finds | Amazon Brands & more</h2>
        <p>see all</p>
    </div>
    <div class="kitchen-items">
        <img src="/static/img/kitchen1.jpg" alt="item1">
        <img src="/static/img/kitchen2.jpg" alt="item2">
        <img src="/static/img/kitchen3.jpg" alt="item3">
        <img src="/static/img/kitchen4.jpg" alt="item4">
        <img src="/static/img/kitchen5.jpg" alt="item5">
        <img src="/static/img/kitchen6.jpg" alt="item6">
    </div>
    <div class="kitchen-arrows">
        <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
        <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
    </div>
</div>

<!-- kitchen end -->

<!-- fashion -->

<div class="fashionable">
    <div class="fashion-container">
        <h2>Up to 80% off | Fashionable and trendy clothes from Small businesses</h2>
        <p>See all offers</p>
    </div>
    <div class="fashion-items">
        <img src="/static/img/fashion1.jpg" alt="item1">
        <img src="/static/img/fashion2.jpg" alt="item2">
        <img src="/static/img/fashion3.jpg" alt="item3">
        <img src="/static/img/fashion4.jpg" alt="item4">
        <img src="/static/img/fashion5.jpg" alt="item5">
        <img src="/static/img/fashion6.jpg" alt="item6">
        <img src="/static/img/fashion7.jpg" alt="item6">
        <img src="/static/img/fashion8.jpg" alt="item6">
        <img src="/static/img/fashion9.jpg" alt="item6">
    </div>
    <div class="fashion-arrows">
        <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
        <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
    </div>
</div>

<!-- fashion end -->

<!-- deals section -->

<div class="deals-section">
    <div class="deals-box deals-box1">        
        <div class="deals-box-content">
            <h2>Amazon Gadget Store</h2>
            <div class="deals-grid-container">
                <div class="deals-appliance">
                    <img src="/static/img/deal1.jpg" alt="Smartphones">
                    <p>Smartphones</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal2.jpg" alt="Laptops">
                    <p>Laptops</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal3.jpg" alt="Tablets">
                    <p>Tablets</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal4.jpg" alt="TVs">
                    <p>TVs</p>
                </div>
            </div>
            <p class="deals-more">See more from Amazon gadgets</p>
        </div>
    </div>

    <div class="deals-box deals-box2">        
        <div class="deals-box-content">
            <h2>Deals on gifts for Dad</h2>
            <div class="deals-grid-container">
                <div class="deals-appliance">
                    <img src="/static/img/deal5.jpg" alt="Tech">
                    <p>Tech</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal6.jpg" alt="Adventure gears">
                    <p>Adventure gears</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal7.jpg" alt="Unique finds">
                    <p>Unique finds</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal8.jpg" alt="Health & fitness">
                    <p>Health & fitness</p>
                </div>
            </div>
            <p class="deals-more">shop all</p>
        </div>
    </div>

    <div class="deals-box deals-box3">        
        <div class="deals-box-content">
            <h2>Fashion trends you like</h2>
            <div class="deals-grid-container">
                <div class="deals-appliance">
                    <img src="/static/img/deal9.jpg" alt="Dresses">
                    <p>Dresses</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal10.jpg" alt="Knits">
                    <p>Knits</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal11.jpg" alt="Jackets">
                    <p>Jackets</p>
                </div>
                <div class="deals-appliance">
                    <img src="/static/img/deal12.jpg" alt="Jewelry">
                    <p>Jewelry</p>
                </div>
            </div>
            <p class="deals-more">Explore more</p>
        </div>
    </div>

    <div class="deals-box deals-box4">        
        <div class="deals-box-content">
            <h2>Toys under $25</h2>
            <div class="deals-grid-container">
                <div class="deals-appliance">
                    <img src="/static/img/deal13.jpg" alt="toy">
                </div>
            </div>
            <p class="deals-more">Shop now</p>
        </div>
    </div>    
</div>

<!-- deal end -->

<!-- clothes -->

<div class="clothes">
    <div class="cloth-container">
        <h2>Best Sellers in Clothing, Shoes & Jewelry</h2>
        <p>See all</p>
    </div>
    <div class="cloth-items">
        <img src="/static/img/cloth1.jpg" alt="item1">
        <img src="/static/img/cloth2.jpg" alt="item2">
        <img src="/static/img/cloth3.jpg" alt="item3">
        <img src="/static/img/cloth4.jpg" alt="item4">
        <img src="/static/img/cloth5.jpg" alt="item5">
        <img src="/static/img/cloth6.jpg" alt="item6">
        <img src="/static/img/cloth7.jpg" alt="item6">
        <img src="/static/img/cloth8.jpg" alt="item6">
        <img src="/static/img/cloth9.jpg" alt="item6">
    </div>
    <div class="cloth-arrows">
        <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
        <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
    </div>
</div>

<!-- clothes end -->

<!-- tech section -->
<div class="tech-section">
    <div class="tech-box tech-box1">        
        <div class="tech-box-content">
            <h2>Shop activity trackers and smartwatches</h2>
            <div class="tech-grid-container">
                <div class="tech-appliance">
                    <img src="/static/img/tech1.jpg" alt="toy">
                </div>
            </div>
            <p class="tech-more">Shop now</p>
        </div>
    </div> 

    <div class="tech-box tech-box2">        
        <div class="tech-box-content">
            <h2>Gaming merchandise</h2>
            <div class="tech-grid-container">
                <div class="tech-appliance">
                    <img src="/static/img/tech2.jpg" alt="Tech">
                    <p>Apparel</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech3.jpg" alt="Adventure gears">
                    <p>Hats</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech4.jpg" alt="Unique finds">
                    <p>Action figures</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech5.jpg" alt="Health & fitness">
                    <p>Mugs</p>
                </div>
            </div>
            <p class="tech-more">see more</p>
        </div>
    </div>

    <div class="tech-box tech-box3">        
        <div class="tech-box-content">
            <h2>Gifts for every kind of dad</h2>
            <div class="tech-grid-container">
                <div class="tech-appliance">
                    <img src="/static/img/tech6.jpg" alt="Dresses">
                    <p>Tech Enthusiasts</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech7.jpg" alt="Knits">
                    <p>Adventure seekers</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech8.jpg" alt="Jackets">
                    <p>Daily-routine dads</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech9.jpg" alt="Jewelry">
                    <p>Hard-to-gift-dads</p>
                </div>
            </div>
            <p class="tech-more">Shop all</p>
        </div>
    </div>

    <div class="tech-box tech-box4">        
        <div class="tech-box-content">
            <h2>Level up your gaming</h2>
            <div class="tech-grid-container">
                <div class="tech-appliance">
                    <img src="/static/img/tech10.jpg" alt="Tech">
                    <p>PC gaming</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech11.jpg" alt="Adventure gears">
                    <p>Xbox</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech12.jpg" alt="Unique finds">
                    <p>Playstation</p>
                </div>
                <div class="tech-appliance">
                    <img src="/static/img/tech13.jpg" alt="Health & fitness">
                    <p>Nintendo Switch</p>
                </div>
            </div>
            <p class="tech-more">shop the latest in gaming</p>
        </div>
    </div>   
</div>
<!-- tech end -->


<!-- furniture -->

<div class="furniture">
    <div class="furniture-container">
        <h2>Minimum 40% off | Sofa sets, outdoor furniture & more from stores nearby</h2>
        <p>See all offers</p>
    </div>
    <div class="furniture-items">
        <img src="/static/img/furniture1.jpg" alt="item1">
        <img src="/static/img/furniture2.jpg" alt="item2">
        <img src="/static/img/furniture3.jpg" alt="item3">
        <img src="/static/img/furniture4.jpg" alt="item4">
        <img src="/static/img/furniture5.jpg" alt="item5">
        <img src="/static/img/furniture6.jpg" alt="item6">
    </div>
    <div class="furniture-arrows">
        <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
        <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
    </div>
</div>

<!-- furniture end -->

<!-- season section -->
<div class="season-section">
    <div class="season-box season-box1">        
        <div class="season-box-content">
            <h2>Deals on shoes</h2>
            <div class="season-grid-container">
                <div class="season-appliance">
                    <img src="/static/img/season1.jpg" alt="toy">
                </div>
            </div>
            <p class="season-more">See more</p>
        </div>
    </div> 

    <div class="season-box season-box1">        
        <div class="season-box-content">
            <h2>Player's paradise starts here</h2>
            <div class="season-grid-container">
                <div class="season-appliance">
                    <img src="/static/img/season2.jpg" alt="toy">
                </div>
            </div>
            <p class="season-more">Shop videogames</p>
        </div>
    </div> 

    <div class="season-box season-box3">        
        <div class="season-box-content">
            <h2>Look your best this season</h2>
            <div class="season-grid-container">
                <div class="season-appliance">
                    <img src="/static/img/season3.jpg" alt="Dresses">
                    <p>for Her</p>
                </div>
                <div class="season-appliance">
                    <img src="/static/img/season4.jpg" alt="Knits">
                    <p>For Him</p>
                </div>
                <div class="season-appliance">
                    <img src="/static/img/season5.jpg" alt="Jackets">
                    <p>For Teens</p>
                </div>
                <div class="season-appliance">
                    <img src="/static/img/season6.jpg" alt="Jewelry">
                    <p>For Kids</p>
                </div>
            </div>
            <p class="season-more">See more</p>
        </div>
    </div>

    <div class="season-box season-box4">        
        <div class="season-box-content">
            <h2>Score the top PCs & Accessories</h2>
            <div class="season-grid-container">
                <div class="season-appliance">
                    <img src="/static/img/season7.jpg" alt="Tech">
                    <p>Desktops</p>
                </div>
                <div class="season-appliance">
                    <img src="/static/img/season8.jpg" alt="Adventure gears">
                    <p>/laptops</p>
                </div>
                <div class="season-appliance">
                    <img src="/static/img/season9.jpg" alt="Unique finds">
                    <p>Hard Drives</p>
                </div>
                <div class="season-appliance">
                    <img src="/static/img/season10.jpg" alt="Health & fitness">
                    <p>PC Accessories</p>
                </div>
            </div>
            <p class="season-more">See more</p>
        </div>
    </div>   
</div>
<!-- season end -->


<!-- sports -->

<div class="sports">
    <div class="sport-container">
        <h2>Best Sellers in Sports, Fitness & Outdoors</h2>
        <p>See all</p>
    </div>
    <div class="sport-items">
        <img src="/static/img/sport1.jpg" alt="item1">
        <img src="/static/img/sport2.jpg" alt="item2">
        <img src="/static/img/sport3.jpg" alt="item3">
        <img src="/static/img/sport4.jpg" alt="item4">
        <img src="/static/img/sport5.jpg" alt="item5">
    </div>
    <div class="sport-arrows">
        <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
        <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
    </div>
</div>

<!-- sports end -->

<!-- decor section -->

<div class="decors-section">
    <div class="decors-box decors-box1">        
        <div class="decors-box-content">
            <h2>Up to 85% off | Bestsellers from Small businesses</h2>
            <div class="decors-grid-container">
                <div class="decors-appliance">
                    <img src="/static/img/decor1.jpg" alt="Air Conditioners">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor2.jpg" alt="Refrigerators">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor3.jpg" alt="Microwaves">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor4.jpg" alt="Washing Machines">
                </div>
            </div>
        </div>
    </div>

    <div class="decors-box decors-box2">        
        <div class="decors-box-content">
            <h2>Up to 80% off | Top deals in home furnishings from Small…</h2>
            <div class="decors-grid-container">
                <div class="decors-appliance">
                    <img src="/static/img/decor5.jpg" alt="Cushion covers, bedsheets & more">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor6.jpg" alt="Figures, vases and more">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor7.jpg" alt="Home storage">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor8.jpg" alt="Lighting solutions">
                </div>
            </div>
        </div>
    </div>

    <div class="decors-box decors-box3">        
        <div class="decors-box-content">
            <h2>Bestsellers in Women's Indian Clothing</h2>
            <div class="decors-grid-container">
                <div class="decors-appliance">
                    <img src="/static/img/decor9.jpg" alt="Starting ₹99 | Home decor">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor10.jpg" alt="Up to 60% off | Storage & racks">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor11.jpg" alt="Starting ₹99 | Toys & games">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor12.jpg" alt="Up to 60% off | Jackets, dresses & more">
                </div>
            </div>
        </div>
    </div>

    <div class="decors-box decors-box4">        
        <div class="decors-box-content">
            <h2>Up to 70% off | Bestsellers curated from artians</h2>
            <div class="decors-grid-container">
                <div class="decors-appliance">
                    <img src="/static/img/decor13.jpg" alt="Cleaning accessories">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor14.jpg" alt="Tyres & rim care">
                </div>
                <div class="decors-appliance">
                    <img src="/static/img/decor15.jpg" alt="Helmets">
                </div>
                <div class="decors-appliance">
                    <img style="height: 140px;" src="/static/img/decor16.jpg" alt="Vacuum Cleaner">
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- decors end -->

<!-- accessories -->

<div class="accessories">
    <div class="accessories-container">
        <h2>Best Sellers in Computers & Accessories</h2>
        <p>See all</p>
    </div>
    <div class="accessories-items">
        <img src="/static/img/accessories1.jpg" alt="item1">
        <img src="/static/img/accessories2.jpg" alt="item2">
        <img src="/static/img/accessories3.jpg" alt="item3">
        <img src="/static/img/accessories4.jpg" alt="item4">
        <img src="/static/img/accessories5.jpg" alt="item5">
        <img src="/static/img/accessories6.jpg" alt="item5">
        <img src="/static/img/accessories7.jpg" alt="item5">
    </div>
    <div class="accessories-arrows">
        <label for="prev" class="arrow left-arrow border"><i class="fa-solid fa-chevron-left"></i></label>
        <label for="next" class="arrow right-arrow border"><i class="fa-solid fa-chevron-right"></i></label>
    </div>
</div>

<!-- accessories end -->




{% endblock %}
